#header-container-inner
  #phone-number
  #pagetitle-wrapper
    %h1 Sign in
    #breadcumb You must sign in to post listings
  #slideshow-shadow
#content
  .maincontent-inner
    .col-2-2
      = form_for(:session, :url => sessions_path) do |f|
        .field
          = f.label :email
          = f.text_field :email
        .field
          = f.label :password
          = f.password_field :password
        .actions
          = f.submit "Sign in"
      <br><br>
      %p= link_to "Click here to create a new account", signup_path
    .col-3
      %h2 User Rules
      %u1#details
        %li RentCentral is still in a prototyping stage
        %li Only provide contact information that you wish to be publicly visible - future iterations of this website will provide privacy options.

