#header-container-inner
  #phone-number
  #pagetitle-wrapper
    %h1 All Listings
    #breadcumb Search all public listings
  #slideshow-shadow
#content
  .maincontent-inner
    .col-2-2
      .table-gray
        
        %table.table
          %thead
            %tr
              %th
                = link_to 'Rent', listings_path(:sort => 'rent', :filter => params[:filter])
              %th Title
              %th Address
              %th
                = link_to 'Bedrooms', listings_path(:sort => 'rooms', :filter => params[:filter])
          %tbody
          -odd = 'odd'
          - @listings.each do |listing|
            - if odd == 'odd'
              -odd = ''
            - else
              -odd = 'odd'
            %tr{:class => odd}
              %td= "$" + String(listing.rent)
              %td= link_to listing.title, listing_path(listing)
              %td= listing.address
              %td= listing.number_bedrooms
    .col-3
      %h2 Search Options
      = form_tag listings_path, :method => :get, :id => 'filter_form' do
        Minimum Rent<br>
        = number_field_tag :minRent, params[:minRent]
        <br>Maximum Rent<br>
        = number_field_tag :maxRent, params[:maxRent]
        <br>Minimum Bedrooms<br>
        = number_field_tag :minRooms, params[:minRooms]
        <br>Maximum Bedrooms<br>
        = number_field_tag :maxRooms, params[:maxRooms]
        <br>
        = submit_tag 'Refresh'
