#header-container-inner
  #phone-number
  #pagetitle-wrapper
    %h1 All Listings
    #breadcumb some sort of subtitle
  #slideshow-shadow
#content
  .maincontent-inner
    .col-2-2
      .table-gray
        
        %table.table
          %thead
            %tr
              %th
                = link_to 'Rent', listings_path(:sort => 'rent', :filter => @filters)
              %th Title
              %th Address
              %th Details
          %tbody
          -odd = 'odd'
          - @listings.each do |listing|
            - if odd == 'odd'
              -odd = ''
            - else
              -odd = 'odd'
            %tr{:class => odd}
              %td= listing.rent
              %td= listing.title
              %td= listing.address
              %td= link_to "See more", listing_path(listing)
    .col-3
      %h2 Search Options
      = form_tag listings_path, :method => :get, :id => 'filter_form' do
        Minimum Rent
        = text_field :minRent, :value => "Minimum Rent"
        Maximum Rent
        = text_field :maxRent, :value => "Maximum Rent"
        = submit_tag 'Refresh'
