%h1 Create a New Listing

= form_tag listings_path do

  = label :listing, :title, 'Title'
  = text_field :listing, 'title'

  = label :listing, :address, 'Address'
  = text_field :listing, 'address'

  = label :listing, :rent, 'Rent'
  = number_field :listing, 'rent'

  = label :listing, :number_of_rooms, 'Number of Rooms'
  = number_field :listing, 'number_of_rooms'

  = label :listing, :utilities, 'Included Utilities'
  = text_field :listing, 'utilities'

  = label :listing, :parking, 'Parking'
  = text_field :listing, 'parking'

  = submit_tag 'Post my Listing'
