#header-container-inner
  #phone-number
  #pagetitle-wrapper
    %h1 Create a New Listing
    #breadcumb
  #slideshow-shadow
#content
  .maincontent-inner
    .col-2-2
      = form_for @listing, :html => {:multipart => true} do |f|
        = f.label :title, 'Title'
        = f.text_field 'title'
        = f.label :address, 'Address'
        = f.text_field 'address' 
        = f.label :rent, 'Rent'
        = f.number_field 'rent'
        = f.label :number_bedrooms, 'Bedrooms'
        = f.number_field 'number_bedrooms'
        = f.label :number_bathrooms, 'Bathrooms'
        = f.number_field 'number_bathrooms'
        = f.label :utilities, 'Included Utilities'
        = f.text_field 'utilities'
        = f.label :parking, 'Parking'
        = f.text_field 'parking'
        = f.label :description, 'Enter Details Here'
        = f.text_area 'description', :cols => 80, :rows => 10
        = f.submit 'Post my Listing'

        = f.fields_for :listing_images do |builder|
          = builder.label :caption, "File Description"
          = builder.text_field :caption
          = builder.file_field :photo

    .col-3
      %h2 Listing Rules -
      %u1#details
      %u1#details
        %li Do not duplicate listings - they will be removed
        %li Addresses can be approximate - map integration is coming soon
        %li Images can be uploaded after your listing is created
