#header-container-inner
  #phone-number
  #pagetitle-wrapper
    %h1 
      = @listing.title
    #breadcumb 
      = @listing.address
  #slideshow-shadow
#content
  .maincontent-inner
    .col-2-2
      %p#description
      = @listing.description
    .col-3
      %h2 Summary
      %u1#details
        %li
          Posted By:
          = link_to @listing.user.name, user_path(@listing.user)
        %li
          Rent:
          = @listing.rent
        %li
          Rooms:
          = @listing.number_of_rooms
        %li
          Utilities:
          = @listing.utilities
        %li
          Parking:
          = @listing.parking
        <br>
        - if @listing.watchers.length == 1
          %h4= String(@listing.watchers.length) + " Watcher:"
        - else
          %h4= String(@listing.watchers.length) + " Watchers:"
        - @listing.watchers.each do |watcher|
          = link_to watcher.name, user_path(watcher)
          <br>
      - if signed_in? && !current_user.watched_listings.include?(@listing) && @listing.user != current_user
        = button_to 'Watch this listing', {:controller => "listings", :action => "watch", :id => params[:id]}
      - if signed_in? && @listing.user.id == current_user.id      
        = button_to 'Edit this listing', edit_listing_path(@listing), :method => :get
        = button_to 'Delete', listing_path(@listing), :method => :delete, :confirm => 'Are you sure?'
      
          
