#header-container-inner
  #phone-number
  #pagetitle-wrapper
    %h1 
      = @listing.title
    #breadcumb 
      = @listing.address
  #slideshow-shadow
#content
  .maincontent-inner
    .col-2-2
      %p#description
      = @listing.description
    .col-3
      %h2 Summary
      %u1#details
        %li
          Rent:
          = @listing.rent
        %li
          Rooms:
          = @listing.number_of_rooms
        %li
          Utilities:
          = @listing.utilities
        %li
          Parking:
          = @listing.parking
        
      
      = button_to 'Edit this listing', edit_listing_path(@listing), :method => :get
      = button_to 'Delete', listing_path(@listing), :method => :delete, :confirm => 'Are you sure?'
      = link_to 'Back to all listings', listings_path
          
