#header-container-inner
  #phone-number
  #pagetitle-wrapper
    %h1 
      = @listing.title
    #breadcumb 
      = @listing.address
  #slideshow-shadow
#content
  .maincontent-inner
    .col-3
      %h2 Summary
      - if !@listing.is_active
        <i>This listing is currently inactive</i><br>
      - if !@listing.is_public
        <i>This is a private listing</i><br><br>
      Details
      %u1#details
        %li
          Posted By:
          = link_to @listing.user.name, user_path(@listing.user)
        %li
          Rent:
          = @listing.rent
        %li
          Bedrooms:
          = @listing.number_bedrooms
        %li
          Bathrooms:
          = @listing.number_bathrooms
        %li
          Utilities:
          = @listing.utilities
        %li
          Parking:
          = @listing.parking
        <br>
        - if @listing.watchers.length == 1
          %h4= String(@listing.watchers.length) + " Watcher:"
        - else
          %h4= String(@listing.watchers.length) + " Watchers:"
        - @listing.watchers.each do |watcher|
          = link_to watcher.name, user_path(watcher)
          <br>
      - if signed_in? && !current_user.watched_listings.include?(@listing) && @listing.user != current_user
        = button_to 'Watch this listing', {:controller => "listings", :action => "watch", :id => params[:id]}
      - if signed_in? && @listing.user.id == current_user.id
        <br>
        %h4 Options
        - if @listing.is_active
          = button_to 'Suspend this listing', {:controller => "listings", :action => "change_active", :id => params[:id]}
        - else
          = button_to 'Reactivate this listing', {:controller => "listings", :action => "change_active", :id => params[:id]}
        - if @listing.is_public
          = button_to 'Make this listing private', {:controller => "listings", :action => "change_public", :id => params[:id]}
        - else
          = button_to 'Make this listing public', {:controller => "listings", :action => "change_public", :id => params[:id]}
        = button_to 'Edit this listing', edit_listing_path(@listing), :method => :get
        = button_to 'Delete', listing_path(@listing), :method => :delete, :confirm => 'Are you sure?'
    .col-2-2
      %h2 Description
      %p#description
      = @listing.description
      <hr>
      %h4 Photos
      - @listing.listing_images.each do |li|
        = link_to (image_tag li.photo.url(:small)), li.photo.url

      - if signed_in? && @listing.user.id == current_user.id
        %h4 Upload a photo
        = form_for([@listing, @listing.listing_images.build]) do |f|
          = f.label :caption, "File Description"
          = f.text_field :caption
          = f.file_field :photo
          = f.submit "Upload New Photo"
      <hr>
      %h4 Comments
      - @listing.comments.each do |comment|
        - if comment.author != nil && comment.post_time != nil && comment.body != nil
          = "Posted by \"" + comment.author + "\" at " + (comment.post_time.to_s)[0,20]
          <br>
          = comment.body
      <hr>
      = form_for([@listing, @listing.comments.build]) do |f|
        = f.label :author
        = f.text_field :author
        <br>
        = f.label :body
        = f.text_area :body, :cols => "60", :rows => "5"
        <br>
        = f.submit "Post my Comment"
