#header-container-inner
  #phone-number
  #pagetitle-wrapper
    %h1 Signup
    #breadcumb
  #slideshow-shadow
#content
  .maincontent-inner
    .col-2-2
      = form_for (@user) do |f|
        = render 'shared/error_messages'
        .field
          = label :user, :name, 'Username'
          = text_field :user, 'name'
        .field
          = label :user, :email, 'Email Address'
          = text_field :user, 'email' 
        .field
          = label :user, :phone, 'Phone Number (optional)'
          = text_field :user, 'phone'
        .field
          = label :user, :password, 'Password'
          = password_field :user, 'password'
        .field
          = label :user, :password_confirmation, 'Confirm Password'
          = password_field :user, 'password_confirmation'
        <br>
        = submit_tag 'Sign up!'
    .col-3
      %h2 User Rules
      %u1#details
        %li RentCentral is still in a prototyping stage
        %li Only provide contact information that you wish to be publicly visible - future iterations of this website will provide privacy options.
