%html
  %head
    %title Rent Central
    = stylesheet_link_tag 'reset'
    = stylesheet_link_tag 'style'
    = stylesheet_link_tag 'custom-style'
    = stylesheet_link_tag 'colorbox'
    = stylesheet_link_tag 'noscript'
    = javascript_include_tag 'application'
    = javascript_include_tag 'jquery.min'
    = javascript_include_tag 'scroll'
    = javascript_include_tag 'dropdown'
    = javascript_include_tag 'jquery.colorbox'
    :javascript
      //Login Colorbox
      $(document).ready(function(){				
        $(".login").colorbox({width:"400px"});				
      });

      // Background Slide Setting    
      var scrollSpeed = 50; // speed in milliseconds	
      var current = 0; // set the default position	
      var direction = 'h'; // set the direction
      function bgscroll(){
        current -= 1;  
        $('div#glow-bg-inner').css("backgroundPosition", (direction == 'h') ? current+"px 0" : "0 " + current+"px");   
      }
      setInterval("bgscroll()", scrollSpeed);	
    = csrf_meta_tags
  %body
    #container
      #top-container-inner
        #glow-bg-inner
          #menu-wrapper
            #menu-container
              #logo
                RentCentral Image goes here
              #mainmenu
                %ul#menu
                  %li
                    = link_to 'Home', '/'
                  %li
                    = link_to 'All Listings', listings_path
                  -if signed_in?
                    %li= link_to 'Post a Listing', new_listing_path
                    %li
                      = link_to 'My Account', current_user
                      %ul
                        %li= link_to 'Logout', signout_path
                  -else
                    %li= link_to 'Post a Listing', signin_path
                    %li= link_to 'Sign in', signin_path
          = yield
          = debug(params) if Rails.env.development?
